{% extends "base.html.twig" %}

{% block title %} {{ parent()|default('Sortie') }} {% endblock %}

{% block header %}
	<div class="jumbotron my-4">
		<h1 class="display-3">{{ title | capitalize | default('Créer une sortie') }}</h1>
		<p class="lead">Créer un événement et inviter vos amis</p>
{#		<a href="#" class="btn btn-success btn-lg">bouton sample</a>#}
	</div>
{% endblock %}

{% block body %}
	{{ form_start(sortie_form) }}

{#	<div class="form-group row" id="">#}
{#		<div class="col-sm-2 col-form-label">#}
{#			{{ form_label(sortie_form.nom) }}#}
{#		</div>#}
{#		<div class="col-sm-10">#}
{#			<input type="text" class="form-control "id="sortie_nom" name="sortie[nom]" required="required" maxlength="100">#}
{#			#}{#{{ form_widget(sortie_form.nom) }}#}
{#			{{ form_errors(sortie_form.nom) }}#}
{#		</div>#}
{#	</div>#}

	{# Nom #}
	{{ form_row(sortie_form.nom) }}
	{# <div class="form-row form-group">
    	<div class="col-12 col-sm-2">
    		{{ form_label(sortie_form.nom) }}
        </div>
        <div class="col-12 col-sm-10">
    		{{ form_widget(sortie_form.nom) }}
        </div>
        <div class="col-12 offset-sm-2 col-sm-10">
    		{{ form_errors(sortie_form.nom) }}
        </div>
	</div>  #}

	{# Date de début #}
	<div class="form-row form-group">
    	<div class="col-12 col-sm-2">
    		{{ form_label(sortie_form.debut) }}
        </div>
        <div class="col-7 col-sm-6 col-lg-8 pl-0">
    		{{ form_widget(sortie_form.debut.date) }}
        </div>
		<div class="col-5 col-sm-4 col-lg-2 pr-0">
    		{{ form_widget(sortie_form.debut.time) }}
        </div>
        <div class="col-12 offset-sm-2 col-sm-10">
    		{{ form_errors(sortie_form.debut) }}
        </div>
	</div>

	{# Durée #}
	{{ form_row(sortie_form.duree) }}
	{# <div class="form-row form-group">
    	<div class="col-sm-2">
    		{{ form_label(sortie_form.duree) }}
        </div>
        <div class="col-sm-10">
    		{{ form_widget(sortie_form.duree) }}
        </div>
        <div class="col-sm-3">
    		{{ form_errors(sortie_form.duree) }}
        </div>
	</div> #}

	{# Date limite d'inscription #}
	<div class="form-row form-group">
    	<div class="col-12 col-sm-2">
    		{{ form_label(sortie_form.limiteInscription) }}
        </div>
        <div class="col-7 col-sm-6 col-lg-8 pl-0"> 
    		{{ form_widget(sortie_form.limiteInscription.date) }}
        </div> 
		<div class="col-5 col-sm-4 col-lg-2 pr-0">
    		{{ form_widget(sortie_form.limiteInscription.time) }}
        </div>
        <div class="col-12 offset-sm-2 col-sm-10">
    		{{ form_errors(sortie_form.limiteInscription) }}
        </div>
	</div>

	{# Nombre max d'inscription #}
	{{ form_row(sortie_form.inscriptionMax) }}
	{# <div class="row">
    		<div class="col-sm-2">
    			{{ form_label(sortie_form.inscriptionMax) }}
        	</div>
        	<div class="col-sm-10">
    			{{ form_widget(sortie_form.inscriptionMax) }}
        	</div>
        	<div class="col-sm-3">
    			{{ form_errors(sortie_form.inscriptionMax) }}
        	</div>
	</div> #}

	{# Campus #}
	{{ form_row(sortie_form.campus) }}
	{# <div class="row">
    		<div class="col-sm-2">
    			{{ form_label(sortie_form.campus) }}
        	</div>
        	<div class="col-sm-10">
    			{{ form_widget(sortie_form.campus) }}
        	</div>
        	<div class="col-sm-3">
    			{{ form_errors(sortie_form.campus) }}
        	</div>
	</div> #}

	{# Lieu #}
	<div class="form-row form-group input-group">
		{{ form_label(sortie_form.lieu) }}
        {{ form_widget(sortie_form.lieu) }}
		<div class="input-group-append">
            <button type="button" class="btn btn-success" onclick="ajouterLieu('{{ path('lieu_ajouter') }}');">
				<i class="fas fa-plus-circle"></i>
			</button>
        </div>
		<div class="col-12 offset-sm-2 col-sm-10">
    		{{ form_errors(sortie_form.lieu) }}
        </div>
	</div>

	{# <div class="row">
    		<div class="col-sm-2">
    			{{ form_label(sortie_form.lieu) }}
        	</div> #}
{#		TODO: ici pas bon  faire un fonction js et prendre les infos au moment 't'#}
        	{# <div class="col-sm-10">
    			{{ form_widget(sortie_form.lieu) }}
    			<button class="btn btn-sm btn-success " type="button" onclick="ajouterLieu('{{ path('lieu_ajouter') }}');">
    				<i class="fas fa-plus-circle"></i>
    			</button>
        	</div>
        	<div class="col-sm-3">
    			{{ form_errors(sortie_form.lieu) }}
        	</div>
	</div> #}

	{# Description #}
	{{ form_row(sortie_form.infos) }}
	{# <div class="row">
    		<div class="col-sm-2">
    			{{ form_label(sortie_form.infos) }}
        	</div>
        	<div class="col-sm-10">
    			{{ form_widget(sortie_form.infos) }}
        	</div>
        	<div class="col-sm-3">
    			{{ form_errors(sortie_form.infos) }}
        	</div>
	</div> #}

	{# Boutons #}
	<div class="row justify-content-center">
    	<div class="col-auto">
    		{{ form_row(sortie_form.save) }}
{#				<div class="form-group"><button type="submit" class="save btn btn-success">Enregistrer</button></div>#}
        </div>
        <div class="col-auto">
    		{{ form_row(sortie_form.publish) }}
{#				<div class="form-group"><button type="submit"  class="publish btn btn-warning">Publier</button></div>#}
        </div>
        <div class="col-auto">
    		<input class="publish btn btn-danger"  type="button" onclick="location.href='{{ path('home') }}';" value="Annuler" />
        </div>
	</div>
    {{ form_end(sortie_form) }}




{% endblock %}
{% block javascripts %}
	<script>
		// document.getElementById('sortie_lieu').style="display: inline-block; width:96%;"
			
    	function ajouterLieu(url) {
	    	var nom = document.getElementById('sortie_nom').value;
	    	
	    	// var debutMonth = document.getElementById('sortie_debut_date_month').value;
	    	// var debutDay = document.getElementById('sortie_debut_date_day').value;
	    	// var debutYear = document.getElementById('sortie_debut_date_year').value;
	    	// var debutHour = document.getElementById('sortie_debut_time_hour').value;
	    	// var debutMinute = document.getElementById('sortie_debut_time_minute').value;

			var dateDebut = document.getElementById('sortie_debut_date').value.split('-').reverse().join('/');;
			var timeDebut = document.getElementById('sortie_debut_time').value;

			console.log('Date début', dateDebut);
			console.log('Heure début', timeDebut);

			// var dureeHour = document.getElementById('sortie_duree_hour').value;
			// var dureeMinute = document.getElementById('sortie_duree_minute').value;

			var duree = document.getElementById('sortie_duree').value;
			console.log('Durée', duree)

			// var limiteInscriptionMonth = document.getElementById('sortie_limiteInscription_date_month').value;
			// var limiteInscriptionDay = document.getElementById('sortie_limiteInscription_date_day').value;
			// var limiteInscriptionYear = document.getElementById('sortie_limiteInscription_date_year').value;
			// var limiteInscriptionHour = document.getElementById('sortie_limiteInscription_time_hour').value;
			// var limiteInscriptionMinute = document.getElementById('sortie_limiteInscription_time_minute').value;

			var dateLimiteIns = document.getElementById('sortie_limiteInscription_date').value.split('-').reverse().join('/');
			var timeLimiteIns = document.getElementById('sortie_limiteInscription_time').value;

			console.log('date inscription', dateLimiteIns);
			console.log('Heure inscription', timeLimiteIns);

			var inscriptionMax = document.getElementById('sortie_inscriptionMax').value;

			var infos = document.getElementById('sortie_infos').value;

			// if (debutMinute < 10 ) {
			// 	debutMinute = '0' + debutMinute;
			// }
			// var debut = debutDay + '/' + debutMonth + '/' + debutYear + ' ' + debutHour + ':' + debutMinute;
			var debut = dateDebut + ' ' + timeDebut;
			console.log(debut);

			// if (dureeMinute < 10 ) {
			// 	dureeMinute = '0' + dureeMinute;
			// }
			// var duree = dureeHour + ':' + dureeMinute;

			// if (limiteInscriptionMinute < 10 ) {
			// 	limiteInscriptionMinute = '0' + limiteInscriptionMinute;
			// }
			// var limiteInscription = limiteInscriptionDay + '/' + limiteInscriptionMonth + '/' + limiteInscriptionYear + ' ' 
			// 							+ limiteInscriptionHour + ':' + limiteInscriptionMinute;

			var limiteInscription = dateLimiteIns + ' ' + timeLimiteIns;
			console.log(limiteInscription);

			var parametres = 'nom=' + nom + '&' + 'debut=' + debut + '&' + 'duree=' + duree + '&' + 'limiteInscription=' + limiteInscription + '&' 
										+ 'inscriptionMax=' + inscriptionMax + '&' + 'infos=' + infos;
			
			// console.log(url + '?' + parametres);
			window.location = url + '?' + parametres;

    	}
	</script>
{% endblock %}
