{% extends "base.html.twig" %}

{% block title %} {{ parent()|default('Sortie') }} {% endblock %}

{% block header %}
	<div class="jumbotron my-4">
		<h1>{{ title | capitalize | default('Créer une sortie') }}</h1>
		<p class="lead">Créer un événement et inviter vos amis</p>
{#		<a href="#" class="btn btn-success btn-lg">bouton sample</a>#}
	</div>
{% endblock %}

{% block body %}
	{{ form_start(sortie_form) }}
<div class="row">
	<div class="col-12 col-lg-6">
	{# Nom #}
	{{ form_row(sortie_form.nom) }}

	{# Date de début #}
	<div class="form-row form-group">
    	<div class="col-12 col-sm-2">
    		{{ form_label(sortie_form.debut) }}
        </div>
        <div class="col-7 col-sm-6 col-lg-7 pl-0">
    		{{ form_widget(sortie_form.debut.date) }}
        </div>
		<div class="col-5 col-sm-4 col-lg-3 pr-0">
    		{{ form_widget(sortie_form.debut.time) }}
        </div>
        <div class="col-12 offset-sm-2 col-sm-10">
    		{{ form_errors(sortie_form.debut) }}
        </div>
	</div>

	{# Durée #}
	{{ form_row(sortie_form.duree) }}

	{# Date limite d'inscription #}
	<div class="form-row form-group">
    	<div class="col-12 col-sm-2">
    		{{ form_label(sortie_form.limiteInscription) }}
        </div>
        <div class="col-7 col-sm-6 col-lg-7 pl-0">
    		{{ form_widget(sortie_form.limiteInscription.date) }}
        </div> 
		<div class="col-5 col-sm-4 col-lg-3 pr-0">
    		{{ form_widget(sortie_form.limiteInscription.time) }}
        </div>
        <div class="col-12 offset-sm-2 col-sm-10">
    		{{ form_errors(sortie_form.limiteInscription) }}
        </div>
	</div>

	{# Nombre max d'inscription #}
	{{ form_row(sortie_form.inscriptionMax) }}

	{# Campus #}
	{{ form_row(sortie_form.campus) }}

	{# Lieu #}
	<div class="form-row form-group input-group">
		{{ form_label(sortie_form.lieu) }}
        {{ form_widget(sortie_form.lieu) }}
		<div class="input-group-append">
            <button type="button" class="btn btn-success" onclick="ajouterLieu('{{ path('lieu_ajouter') }}');">
				<i class="fas fa-plus-circle"></i>
			</button>
        </div>
		<div class="col-12 offset-sm-2 col-sm-10">
    		{{ form_errors(sortie_form.lieu) }}
        </div>
	</div>

	{# Description #}
	{{ form_row(sortie_form.infos) }}

	{# Boutons #}
	<div class="row justify-content-center">
    	<div class="col-auto">
    		{{ form_row(sortie_form.save) }}
{#				<div class="form-group"><button type="submit" class="save btn btn-success">Enregistrer</button></div>#}
        </div>
        <div class="col-auto">
    		{{ form_row(sortie_form.publish) }}
{#				<div class="form-group"><button type="submit"  class="publish btn btn-warning">Publier</button></div>#}
        </div>
        <div class="col-auto">
    		<input class="publish btn btn-danger"  type="button" onclick="location.href='{{ path('home') }}';" value="Annuler" />
        </div>
	</div>
    {{ form_end(sortie_form) }}
	</div>


	<div class="col-12 col-lg-6 mb-4">
		<div id='map-static' style='width: 100%; height: 300px;'></div>
	</div>

</div>



{% endblock %}
{% block javascripts %}
	<script>
    	function ajouterLieu(url) {
	    	var nom = document.getElementById('sortie_nom').value;

			var dateDebut = document.getElementById('sortie_debut_date').value;
			var timeDebut = document.getElementById('sortie_debut_time').value;
			var debut = dateDebut + ' ' + timeDebut;

			var duree = document.getElementById('sortie_duree').value;

			var dateLimiteIns = document.getElementById('sortie_limiteInscription_date').value;
			var timeLimiteIns = document.getElementById('sortie_limiteInscription_time').value;
			var limiteInscription = dateLimiteIns + ' ' + timeLimiteIns;

			var inscriptionMax = document.getElementById('sortie_inscriptionMax').value;

			var infos = document.getElementById('sortie_infos').value;

			var parametres = 'nom=' + nom + '&' + 'debut=' + debut + '&' + 'duree=' + duree + '&' + 'limiteInscription=' + limiteInscription + '&' 
										+ 'inscriptionMax=' + inscriptionMax + '&' + 'infos=' + infos;
			
			window.location = url + '?' + parametres;

    	}
		let map;
		let marker;
		$(document).ready(() => {
			/* displayer MapBox part begin */
			// donne le id token de mapBox pour pouvoir l'utiliser
			mapboxgl.accessToken = '{{ ctAccessor.MAPBOXTOKEN }}';
			// créer un obj de coordonnées
			let coord = {lat:'{{ ctAccessor.getVilleFromCampus.latitude }}',lng:'{{ ctAccessor.getVilleFromCampus.longitude }}'}
			// initalisation de la map mapBox
			map = new mapboxgl.Map({
				container: 'map-static',
				style: 'mapbox://styles/mapbox/dark-v10', // stylesheet location
				center: [coord.lng, coord.lat], // starting position [lng, lat]
				zoom: 14.503774413768701, // starting zoom
			});
			// ajout du marqueur
			marker = new mapboxgl.Marker()
					.setLngLat([coord.lng, coord.lat])
					.addTo(map);
			// empecher l'utilisateur de tourner la map
			map.dragRotate.disable();
			map.touchZoomRotate.disableRotation();

			// legere rectification de coordonnées pour l'affichage sur ggmap
			function translateGoogleMap(coord){
				return (coord + 0.00015);
			}
			// envoi preview sur gmap
			map.on('click', function (e) {
				window.open("https://www.google.es/maps?q=" + translateGoogleMap(e.lngLat.lat) + ',' + translateGoogleMap(e.lngLat.lng),'_blank').focus();

			});
			/* displayer MapBox part end */
			document.getElementById('sortie_lieu').addEventListener("change", onChange,true);
		});
		function onChange(event) {
			console.log(document.getElementById('sortie_lieu').value)
			let idLieu = document.getElementById('sortie_lieu').value;
			$.ajax({
				type: 'POST',
				url: '{{ path('lieu_location') }}',
				data: {
					'id': idLieu
				},
				success: function(data) {
					console.log(data);
					marker.remove();
					marker = new mapboxgl.Marker()
							.setLngLat([data.lng, data.lat])
							.addTo(map);
					map.flyTo({
						center: [
							data.lng,
							data.lat
						],
						essential: true // this animation is considered essential with respect to prefers-reduced-motion
					});
					//window.location.reload();
				},
				error: function(err) {
					console.log('erreur', err);
				}
			});

		}
	</script>
{% endblock %}
