{% extends "base.html.twig" %}

{% block title %} {{ parent() }} | Villes {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/jquery/jquery.dataTables.min.css') }}">
    <script type="text/javascript" src="{{ asset('js/jquery/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block header %}


    <header class="jumbotron my-4">
        <div class="row">

            <div class="col-12 col-lg-6">
                <h1 class="display-3">{{ title }}</h1>
                <p class="lead">Gestion des Villes</p>
                <h4 class="display">Ajouter une ville</h4>
            </div>
            <div class="col-12 col-lg-6">
                <div id='map' style='width: 100%; height: 300px;'></div>
            </div>
        </div>

        <form name="ville" method="post">
            <table id="table_add_sortie" class="table table-light">
                <tbody>
                <tr>
                    <td>{{form_row(ville_form.nom)}}</td>
                    <td>{{form_row(ville_form.codePostal)}}</td>
                    <td>{{form_row(ville_form.latitude)}}</td>
                    <td>{{form_row(ville_form.longitude)}}</td>
                    <td>
{#                        <a class="btn btn-sm btn-outline-dark" href="javascript:void(0)" onclick="addVille()">Ajouter</a>#}
                        <a class="btn btn-sm btn-info" id="viewInMapBox" onclick="viewInMapBox()">view</a>
                        <button class="btn btn-sm btn-success" type="submit" >Ajouter/Modifier</button>
                    </td>
                </tr>
                </tbody>
            </table>
            {{form_end(ville_form)}}
        </form>

        <form id="upload-form">
            <label for="file">File</label> <input id="file" type="file" name="file">
            <input type="submit"  class="btn btn-success btn-sm text-dark">
            <span>Progress: <span id="progress-value"></span>% <span id="upload-complete"></span> <span id="errors"></span></span>
        </form>
        <span id="preview-title">format csv:</span>
        <pre><code id="preview-csv">nom; codepostal; 'latitude'; 'longitude';
nom; codepostal; 'latitude'; 'longitude';
nom; codepostal; 'latitude'; 'longitude';</code></pre>
        {#<a href="#" class="btn btn-success btn-lg">bouton sample</a>#}
    <label for="pagination">Afficher <input id="pagination" type="number" value="25" min="25" step="25" max="200"> Villes </label>
    </header>
{% endblock %}
{% block body %}

    {#{% for ville in villes %}
            {{ ville.nom }}
    {% endfor %}#}
    <div class="mx-3 mt-3">
        <table id="table_villes" class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Code Postal</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td data-label="Nom"><a class="btn btn-sm btn-light" href="javascript:void(0)" onclick="updateFieldWithList('{{ ville.nom }}',{{ ville.codePostal }},{{ ville.latitude }},{{ ville.longitude }})">{{ ville.nom }}</a></td>
                    <td data-label="Code Postal">{{ ville.codePostal }}</td>
                    <td data-label="latitude">{{ ville.latitude }}</td>
                    <td data-label="longitude">{{ ville.longitude }}</td>
                    <td data-label="supprimer">
                        <a class="btn btn-sm btn-light" href="javascript:void(0)" onclick="deleteVille('{{ ville.id }}')">x</a>


                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}
{% block javascripts %}

    <script>
        var marker;
        var map;
        var table;
        var xhr = new XMLHttpRequest();
        $(document).ready(() => {

            $('#table_villes thead tr').clone(true).appendTo('#table_villes thead');
            $('#table_villes thead tr:eq(1) th').each(function(i) {
                var title = $(this).text();

                if (['Nom', 'Etat', 'Organisateur'].includes(title)) {
                    $(this).html('<input type="text" placeholder="rechercher" class="form-control">');
                } else {
                    $(this).html('');
                }

                $('input', this).on('keyup change', function() {
                    if (table.column(i).search() !== this.value) {
                        table.column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            setPagination();
            document.getElementById('pagination').addEventListener('change',setPagination)
            document.getElementById('upload-form').addEventListener('change', onChange);
            document.getElementById('upload-form').addEventListener('submit', onSubmit);

            document.getElementById('ville_nom').value = '{{ ctAccessor.getVilleFromCampus.nom }}';
            document.getElementById('ville_codePostal').value = Number('{{ ctAccessor.getVilleFromCampus.codePostal }}');
            document.getElementById('ville_latitude').value = '{{ ctAccessor.getVilleFromCampus.latitude }}';
            document.getElementById('ville_longitude').value = '{{ ctAccessor.getVilleFromCampus.longitude }}';





            /* MapBox part begin */
            // TO MAKE THE MAP APPEAR YOU MUST
            // ADD YOUR ACCESS TOKEN FROM
            // https://account.mapbox.com
            mapboxgl.accessToken = '{{ ctAccessor.MAPBOXTOKEN }}';
            if (!mapboxgl.supported()) {
                document.getElementById('map').innerText = ' votre navigateur ne supporte pas MapGL'
            } else {
                coord = {lat:'{{ ctAccessor.getVilleFromCampus.latitude }}',lng:'{{ ctAccessor.getVilleFromCampus.longitude }}'}
                map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/dark-v10', // stylesheet location
                    //nantes = lat: 47.182687043024174
                    //  lng: -1.5621916011102712
                    //https://api.mapbox.com/geocoding/v5/mapbox.places/-1.5621916011102712,47.182687043024174.json?access_token=pk.eyJ1Ijoia3dhYm91bmdhIiwiYSI6ImNraGFkMXphODBhczUycHJzazV5YnJmNWIifQ.nrM7GeKszzHKJZr8IWIW7w
                    center: [coord.lng, coord.lat], // starting position [lng, lat]
                    zoom: 9 // starting zoom
                });
                marker = new mapboxgl.Marker()
                    .setLngLat([coord.lng, coord.lat])
                    .addTo(map);
                // disable map rotation using right click + drag
                map.dragRotate.disable();

                // disable map rotation using touch rotation gesture
                map.touchZoomRotate.disableRotation();
                map.on('mousemove', function (e) {
                    // console.log(e.lngLat.wrap());

                });
                map.on('click', function (e) {
                    console.log(map);
                    //
                    updateFieldWithMap(e.lngLat.lng, e.lngLat.lat);

                });
            }
            /* MapBox part end */
        });

        function viewInMapBox(event) {
            let lat = document.getElementById('ville_latitude').value;
            let lng = document.getElementById('ville_longitude').value;
            marker.remove();
            marker = new mapboxgl.Marker()
                .setLngLat([lng, lat])
                .addTo(map);
            map.flyTo({
                center: [
                    lng,
                    lat
                ],
                essential: true // this animation is considered essential with respect to prefers-reduced-motion
            });

        }
        function updateFieldWithList(name, cityCode, lat, lng) {
            // console.log(name, cityCode, lat, lng);
            document.getElementById('ville_nom').value = name;
            document.getElementById('ville_codePostal').value = cityCode;
            document.getElementById('ville_latitude').value = lat;
            document.getElementById('ville_longitude').value = lng;
            showFlash('Modification ' + name);
            viewInMapBox();
        }
        function updateFieldWithMap(lng, lat) {
            // document.getElementById('ville_nom').value = '';
            // document.getElementById('ville_codePostal').value = '';
            document.getElementById('ville_latitude').value = lat;
            document.getElementById('ville_longitude').value = lng;
            document.getElementById('ville_nom').focus();
            showFlash('Coordonnées mises à jour');
            // console.log(lng,lat)
            // console.log(map)
            viewInMapBox();

        }
        function onChange(event) {
            document.getElementById("file").files[0].text().then(function(data){
                let prevSize = 3;
                console.log(data);
                document.getElementById('preview-csv').innerText = '';
                document.getElementById('preview-title').innerText = 'Apercu du csv:';
                console.log(data.split("\n").length);
                let dataAr = data.split("\n")
                for (i=0;i<(dataAr.length<prevSize?dataAr.length:prevSize);i++){
                    document.getElementById('preview-csv').append(dataAr[i]+"\n");
                }
                document.getElementById('preview-csv').append("... cliquer sur Envoyer pour importer");
                showFlash('Fichier pret pour etre importé');
            }).catch(function(err){
                console.log(err)
                alert('probleme avec le fichier')
                document.getElementById('preview-title').innerText = 'format csv:';
                document.getElementById('preview-csv').innerText = '1; 2; \'theUsername1\'; \'mail1@mail.com\'; \'theUsername1\'; \'firstname1\'; \'lastname1\'; \'phone1\';\n' +
                    '1; 2; \'theUsername2\'; \'mail2@mail.com\'; \'theUsername2\'; \'firstname2\'; \'lastname2\'; \'phone2\';\n' +
                    '1; 2; \'theUsername3\'; \'mail3@mail.com\'; \'theUsername3\'; \'firstname3\'; \'lastname3\'; \'phone3\';';
            })
        }
        function onSubmit(event) {
            event.preventDefault();

            var formData = new FormData();
            formData.append("upload[file]", document.getElementById("file").files[0]);

            xhr = ajaxPost("{{ path('ville_upload_csv') }}",formData, function(data,err){
                let msg;
                if(err){
                    console.log(err);
                    msg = err;
                }
                let jsonRep = JSON.parse(data);
                if(jsonRep){
                    // ok
                    console.log(jsonRep)
                    msg = jsonRep;
                    setTimeout(function(){
                        window.location = "{{ path('ville_liste') }}";
                    },1000);

                } else {
                    // ko
                    msg = 'erreur inconnue';
                }
                showFlash(msg);
            },false);

            xhr.upload.addEventListener("load", onUploadComplete, false);
            xhr.upload.addEventListener("progress", onUploadProgress, false);

        }

        function onUploadComplete(evt) {
            showFlash('OK Upload Completed');
        }
        function onUploadProgress(evt) {
            document.getElementById('progress-value').innerHTML = evt.loaded * 100 / evt.total  ;
        }

        function setPagination(){
            if(table){
                table.destroy();
            }
            // Datatable
            table = $('#table_villes').DataTable({
                "dom": 'rtp',
                "pageLength": document.getElementById('pagination').value,
                "orderCellsTop": true,
                "fixedHeader": true,
                "oLanguage": {
                    "oPaginate": {
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    }
                },
            });
        }

        function deleteVille(id) {
            console.log('TODO: delete ville ' + id);
            ajaxPost("{{ path('ville_delete_one') }}/"+id, null , function(data){
                jsonRep = JSON.parse(data)
                if(jsonRep.response){
                    // ok
                    console.log(jsonRep.response)
                    $('#jsToast > .toast-body').html(jsonRep.response);
                    $(".toast-js").toast('show');
                    setTimeout(function(){
                        window.location = "{{ path('ville_liste') }}";
                    },1000);

                } else {
                    // ko
                    console.log(jsonRep.error)
                    console.log(jsonRep.message)

                }
            })
        }
    </script>
{% endblock %}
