<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="{{ asset('js/jquery/jquery.js') }}"></script>
        <link rel="stylesheet" href="{{ asset("js/bootstrap/css/bootstrap.min.css") }}">
        <script src="{{ asset('js/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('js/fontawesome/css/all.css') }}">
        <script src="{{ asset('js/filter_css.js') }}"></script>
        <link rel="shortcut icon" href="{{ asset('img/logo_mini_22x30_white.png') }}">
        {% include 'shared/css.html.twig' %}
        <title>{% block title %}Sortir{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="bg"></div>
        <header>
            {% include "shared/nav.html.twig" %}
        </header>
        <div class="container-fluid mb-3">
            <p class="title m-0 p-2 pl-3 bg-success">{{ title }}</p>
        </div>
        <div class="container">

            {% block header %}
                <header class="jumbotron my-4">
                    <h1 class="display-3">A remplacer</h1>
                    <p class="lead">en utilisant le block header {% verbatim %}{% block header %}{% endverbatim %} dans chaque fichier twig</p>
                    <a href="#" class="btn btn-success btn-lg">bouton sample</a>
                </header>
            {% endblock %}


            {% block body %}

            {% endblock %}

        </div>

        {% block footer %}
{#            <footer class="py-5 bg-dark fixed-bottom">#}
{#                <div class="container">#}
{#                    <p class="m-0 text-center text-white">Copyright &copy; Sortir.com {{ "now"|date("Y")  }}</p>#}
{#                </div>#}
{#            </footer>#}
            {% include 'shared/footer.html.twig' %}
        {% endblock %}

        {% include 'shared/toasts.html.twig' %}
        <!-- Bootstrap core JavaScript -->
        <script>
            $(document).ready(function(){
                colorize('.logo-filter');
                // ...affichage des flashs via des toasts'
                // cf: bootstrap.html.twig
                $(".toast").toast('show');
                // initialise l'auto refresh ds un try catch pour les page ou ca nexiste pas
                console.log('toast(init)')
            });
        </script>
        {% block javascripts %}{% endblock %}
        <script>function ajaxPost (url, data, callback, isJson = true) {
                var req = new XMLHttpRequest()
                req.open('POST', url)
                req.addEventListener('load', function () {
                    if (req.status >= 200 && req.status < 400) {
                        // Appelle la fonction callback en lui passant la réponse de la requête
                        callback(req.responseText)
                    } else {
                        console.error(req.status + ' ' + req.statusText + ' ' + url)
                    }
                })
                req.addEventListener('error', function () {
                    console.error('Erreur réseau avec l\'URL ' + url)
                })
                if (isJson) {
                    // Définit le contenu de la requête comme étant du JSON
                    req.setRequestHeader('Content-Type', 'application/json')
                    // Transforme la donnée du format JSON vers le format texte avant l'envoi
                    data = JSON.stringify(data)
                }
                req.send(data)
            }
            function padZeros ($num, $nbZeros) {
                var $numSize = $num.toString().length;
                var $result = '';
                for (var i = 0; i < ($nbZeros - $numSize); i++) {
                    $result += '0';
                }
                $result += $num.toString();
                return $result;
            }</script>
    </body>

</html>