<nav class="navbar navbar-expand-sm navbar-light bg-light">
    {# Logo #}
    <a href="{{ path("main_home") }}" class="navbar-brand">
        <img src="{{ asset('img/logo_574x297.png') }}" width="100" height="50" alt="" loading="lazy">
    </a>

    {# Menu #}
    <div id="navbarId" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            {% if is_granted('ROLE_ADMIN')%}
                <li class="nav-item"><a class="nav-link" href="{{ path("main_home") }}" title="Villes">Villes</a></li>
                <li class="nav-item"><a class="nav-link"  href="{{ path("main_home") }}" title="Campus">Campus</a></li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfil" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}{{ user.username }} profil{% else %}Profil{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfil">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    {% if is_granted('ROLE_ADMIN')%}
                        <a class="dropdown-item" href="{{ path("register", {"id":user.id}) }}" title="Mon profil">Mon profil</a>
                    {% else  %}
                        <a class="dropdown-item" href="{{ path("profile", {"id":user.id}) }}" title="Mon profil">Mon profil</a>
                    {% endif %}

                    <a class="dropdown-item" href="{{ path("logout") }}" title="Se déconnecter">Se déconnecter</a>
                    {% if is_granted('ROLE_ADMIN')%}
                        <a class="dropdown-item" href="{{ path("register") }}" title="Se déconnecter">Nouvel Utilisateur</a>
                    {% endif %}
                {% else %}
                    <a class="dropdown-item" href="{{ path("login") }}" title="connection">Se connecter</a>
                {% endif %}
                </div>
            </li>
        </ul>
    </div>

    {# Bouton pour afficher le menu sur les petits écrans #}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarId" aria-controls="navbarId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>